SELECT rs.route_id, rs.stop_id as from_stop, lead(rs.stop_id) OVER w as to_stop, rs.departure_time as dep_time, lead(rs.arrival_time) OVER w as arr_time, rt.distance_from_previous, rt.avg_travel_time_min, r.base_fare, ph.multiplier as peak_mul, ( SELECT AVG(so2.occupied_seats::FLOAT / s2.capacity) FROM shuttle_occupancy so2 JOIN shuttles s2 ON s2.id = so2.shuttle_id WHERE so2.shuttle_id = s.id AND so2.recorded_at BETWEEN ('2025-06-23'::date + rs.departure_time)::timestamp - INTERVAL '5 minutes' AND ('2025-06-23'::date + rs.departure_time)::timestamp + INTERVAL '5 minutes' ) as crowd_ratio FROM route_schedule rs JOIN route_stops rt ON rt.route_id = rs.route_id AND rt.stop_id = rs.stop_id LEFT JOIN peak_hours ph ON ph.route_id = rs.route_id AND ph.day_of_week = rs.day_of_week AND rs.departure_time BETWEEN ph.start_time AND ph.end_time JOIN shuttle_routes sr ON sr.route_id = rs.route_id JOIN shuttles s ON s.id = sr.shuttle_id JOIN routes r ON r.id = rs.route_id WHERE rs.day_of_week = 1 AND rs.departure_time >= '08:00:00' WINDOW w AS (PARTITION BY rs.route_id, rs.day_of_week ORDER BY rs.departure_time);
